html {
    font-family: 'Daytona Pro Light', Verdana, Geneva, Tahoma, sans-serif;
}


body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    line-height: 15px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    
    background-color: #000000;
    background-image: url('../../resources/eclipse_dlp_cover.jpg');
    background-repeat: no-repeat;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .menubar-btn {
    -webkit-app-region: no-drag;
  }

